<!doctype html>
<html lang="en" >
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <title>Cassaro Odontologia - Início</title>
  </head>
    <!-- ________SECAO HEADER_________-->
    <body>
        <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.2&appId=576343592822423';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      </script>

    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-verde fixed-top" >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <img class="logo" src="img/logo.png" alt="">
        <div class="collapse navbar-collapse text-uppercase " id="navbarSupportedContent" >
          <div>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#home"  style="color: #fff">Início</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#sobre"  style="color: #fff">Sobre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#blog"  style="color: #fff">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#servicos"  style="color: #fff">Serviços</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contato"  style="color: #fff">Contato</a>
            </li>
          </ul>
        </div>
      </div>
      </nav>
    </header>


    
    <!-- ________CAPA_________-->
    <main class="bg-c">
      <div class="capa">
        <div id="slider">
            <div class="transi text-center">
              <hr style="width: 80%; height: 2px; background: #179a94; margin: 0 auto;">
              <p class="txt1">A Cassaro aferece a você a qualidade em serviço e carinho no atendimento.</p>
              <a  href="#servicos">Conheça-nos</a>
            </div>
            <div class="transi text-center">
              <hr style="width: 80%; height: 2px; background: #179a94; margin: 0 auto;">
              <p class="txt1">Oferecemos a você dicas e atualizações para manter sua saúde bucal em dia.</p>
              <a href="#blog">Atulize-se</a>
            </div>
            <div class="transi text-center">
              <hr style="width: 80%; height: 2px; background: #179a94; margin: 0 auto;">
              <p class="txt1">Contamos com uma ampla lista de serviços para melhor atender as suas necessidades.</p>
              <a href="#servicos">Confira</a>
            </div>
            <div class="transi text-center">
              <hr style="width: 80%; height: 2px; background: #179a94; margin: 0 auto;">
              <p class="txt1">Para qualquer dúvida, a equipe possui mais de um meio de contato.</p>
              <a href="#contato">Contate-nos aqui</a>
            </div>           
          </div>
      </div>




      <!-- Seção HOME-->
      <div id="home">
        <hr style="width: 80%; height: 2px; background: #179a94; margin: 0 auto;">
        <div class="desc fv d-flex justify-content-center">
          <div class="d-flex flex-wrap justify-content-center">
              <div>
                <img id="desc-img" src="img/clinica.jpg">
              </div>
              <div class="desc-margem">
                <h2 class="text-justify">Cassaro Odontologia</h2>
                <p class="text-justify">A Odontologia Cassaro é uma clínica odontológica que renova a auto estima e devolve a alegria de sorrir de seus clientes, 
                  através do planejamento, personalização e atuação nas...</p>
                  <div class="input-group justify-content-end mt-5">
                    <div>
                      <a href="#sobre" class="btn bv fw">Saber mais</a>
                    </div>
                  </div>
              </div>
           </div>
        </div>




        <!-- ________ATUALIZAÇÕES_________-->
        <div class="atualiza">
          <h3 class="tituloPage text-center mt-2">Últimas do Blog</h3>
          <hr style="width: 80%; height: 1px; background: #179a94; margin: 0 auto; margin-top: 2rem;">
          <div class="d-flex justify-content-center">
            <div class="d-flex flex-wrap justify-content-center">

                <div class="card fc" style="width: 16rem;">
                  <img class="card-img-top" src="img/dentista.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <div class="container-fluid d-flex flex-column">
                    <div class="d-flex justify-content-end">
                      <a href="#blogview" class="btn bv fw mr-2 mb-2 border-0">Ler mais</a>
                    </div>
                </div>
                </div>
        
                <div class="card fc" style="width: 16rem;">
                  <img class="card-img-top" src="img/dentista.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <div class="container-fluid d-flex flex-column">
                    <div class="d-flex justify-content-end">
                      <a href="#blogview" class="btn bv fw mr-2 mb-2 border-0">Ler mais</a>
                    </div>
                </div>
                </div>
        
                <div class="card fc" style="width: 16rem;">
                  <img class="card-img-top" src="img/dentista.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <div class="container-fluid d-flex flex-column">
                    <div class="d-flex justify-content-end">
                      <a href="#blogview" class="btn bv fw mr-2 mb-2 border-0">Ler mais</a>
                    </div>
                </div>
                </div>
        
                  <div class="card fc" style="width: 16rem;">
                    <img class="card-img-top" src="img/dentista.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <div class="container-fluid d-flex flex-column">
                      <div class="d-flex justify-content-end">
                        <a href="#blogview" class="btn bv fw mr-2 mb-2 border-0">Ler mais</a>
                      </div>
                  </div>
                  </div>
              </div>
            </div>

            <div class="input-group mb-3 email justify-content-end mt-5">
              <input class="botao pl-2 fc border-0" type="text" placeholder="Email para atualizações" aria-label="Recipient's username" aria-describedby="button-addon2">
              <div class="input-group-append ml-2">
                <button class="btn bv fw" type="button" id="button-addon2">Enviar</button>
              </div>
            </div>  
        </div>
      </div>




      <!-- Seção Sobre-->
      <div id="sobre">
        <div class="descSobre text-center m-auto">
          <h3 class="tituloPage">Odontologia Cassaro</h3>
          <hr style="width: 80%; height: 1px; background: #179a94; margin: 0 auto; margin-top: 2rem;">
          <p class="mt-4 mx-auto">A Odontologia Cassaro é uma clínica odontológica que renova a auto estima e devolve a alegria de sorrir de seus clientes, 
          através do planejamento, personalização e atuação nas necessidades individuais de cada pessoa que nos confia sua saúde.</p>
        </div>

        <div class="row pf-10">
          <div class="col d-flex justify-content-center">
            <div class="card" style="width: 14rem;">
              <img class="card-img-top text-center" src="img/sobre1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="text-center titulo">Janaina Pascho</h5>
                <h5 class="text-center">Função</h5>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center">
            <div class="card" style="width: 14rem;">
              <img class="card-img-top text-center" src="img/sobre1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="text-center titulo">Janaina Pascho</h5>
                <h5 class="text-center">Função</h5>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center">
            <div class="card" style="width: 14rem;">
              <img class="card-img-top text-center" src="img/sobre1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="text-center titulo">Janaina Pascho</h5>
                <h5 class="text-center">Função</h5>
              </div>
            </div>
          </div>
        </div>
      </div>




    <!-- Seção Blog-->
    <div id="blog" class="ultimas blog">
      <h3 class="tituloPage text-center p-2">Fique por dentro das atualizações que a Cassaro prepara para manter sua saúde bucal em dia!</h3>      
      <div class="desc d-flex justify-content-center">
        <div class="d-flex flex-wrap justify-content-center">
          <div class="d-flex flex-column">
            <div class="box-blog d-flex justify-content-center">
              <div class="blog-informacoes d-flex flex-wrap justify-content-center">
                <div>
                  <img class="mr-3" id="blog-img" src="img/clareamento.png">
                </div>
                <div class="blogTxt">
                  <h4 class="text-justify">Palitar os dentes? Não é uma boa ideia!</h4>
                  <p class="text-justify">Uma recomendação de todos os dentistas é o uso do fio dental, mas este 
                      precisa ser feito de uma forma correta. Por isso hoje vamos conversar...</p>
                  <div class="container-fluid d-flex flex-column">
                    <div class="d-flex justify-content-end">
                      <a href="#blogview" class="btn bv fw">Ler mais</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="box-blog bordaInferior d-flex justify-content-center ">
              <div class="blog-informacoes d-flex flex-wrap justify-content-center">
                  <div>
                    <img class="mr-3" id="blog-img" src="img/lente.png">
                  </div>
                  <div class="blogTxt">
                    <h4 class="text-justify">Cuidados com lentes de contato dental.</h4>
                    <p class="text-justify">Os cuidados com as lentes de contato dental são simples porém necessários, 
                      pensando nisso, separamos uma lista com as principais precauções...</p>
                    <div class="container-fluid d-flex flex-column">
                      <div class="d-flex justify-content-end">
                        <a href="#blogview" class="btn bv fw">Ler mais</a>
                      </div>
                    </div>
                  </div>
                </div>     
            </div>
              
              <div class="rol container-fluid d-flex flex-column">
                  <div class="rol2 d-flex justify-content-end">
                     <nav class="mt-5" aria-label="...">
                       <ul class="pagination">
                         <li class="page-item disabled">
                           <a class="page-link" href="#" tabindex="-1">Anterior</a>
                         </li>
                         <li class="page-item">
                           <a class="page-link" href="#">1</a>
                         </li>
                         <li class="page-item">
                           <a class="page-link" href="#">2</a></li>
                         <li class="page-item">
                           <a class="page-link" href="#">3</a>
                         </li>
                         <li class="page-item">
                           <a class="page-link" href="#">Próximo</a>
                         </li>
                       </ul>
                     </nav>
                   </div>
                 </div>  
            </div>
            <div>
                
              <div class="card ml-3">
                <div class="card-body">
                  <div>
                    <ul>
                      <li><a href="#">Título do artigo 1</a></li>
                        <hr style="height: 1px; background: #585858;">
                      <li><a href="#">Título do artigo 2</a></li>
                        <hr style="height: 1px; background: #585858">
                      <li><a href="#">Título do artigo 3</a></li>
                        <hr style="height: 1px; background: #585858">
                      <li><a href="#">Título do artigo 4</a></li>
                        <hr style="height: 1px; background: #585858">
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card ml-3 mt-2">
                  <div class="card-body">
                    <div>
                      <ul>
                        <li><a href="#">Título do artigo 1</a></li>
                          <hr style="height: 1px; background: #585858;">
                          <li><a href="#">Título do artigo 2</a></li>
                          <hr style="height: 1px; background: #585858">
                          <li><a href="#">Título do artigo 3</a></li>
                          <hr style="height: 1px; background: #585858">
                          <li><a href="#">Título do artigo 4</a></li>
                          <hr style="height: 1px; background: #585858">
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="ml-3 mt-2">
                  <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fodontologiacassaro%2F&tabs&width=288&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId = 576343592822423 " width = "288" height = "214"  rolagem = "não" frameborder = "0" allowTransparency = "true" allow = "mídia criptografada">
                  </iframe>                  
                </div>
            </div>
        </div>
      </div>
    </div>



    <!--Seção Blogview-->
    <div id="blogview" class="ultimas blog2 mt-n">
      <div class="d-flex justify-content-center">
        <div class="d-flex flex-wrap justify-content-center">
          <div class="d-flex justify-content-center mb-5">
            <div class="box-blog2">  
              <div>
                <h5 class="text-justify">Respiração Bucal e Rinite Alérgica: uma relação bem íntima!</h5>
                <hr style="height: 2px; background: #179a94; margin-bottom: 2rem;">
                <img id="blog2-img" src="img/lentes.png"  class="img-fluid" alt="Responsive image">
              </div>
              <p class="text-justify">Assim que finalizamos uma refeição e sentimos que um pequeno pedaço de comida está preso entre os dentes, é comum recorrermos aos palitos de dente, que sempre estão nas mesas dos restaurantes. 
                  Embora esta possa ser considerada um instrumento de limpeza tradicional e seguro, seu uso não deve ser recomendado para ninguém. 
                  Os palitos de dente já estão ultrapassados e seu uso pode machucar a gengiva e até mesmo estragar seus dentes. Caso eles quebrem durante o uso, podem causar inflamação e infecção. 
                  Substitua os palitos de dente pelo fio dental. Mantenha esse outro instrumento de higiene bucal na bolsa ao sair, é uma alternativa para não ter que usar palitos de dente. 
                  E sempre em qualquer dúvida que aparecer, consulte sempre seu dentista!</p>
            </div>
            <!--API de comentários-->
            <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="500" data-numposts="5"></div>
          </div>
          <div>
            <div class="card">
              <div class="card-body">
                <div>
                  <ul>
                    <li><a href="#">Título do artigo 1</a></li>
                    <hr style="height: 1px; background: #585858;">
                    <li><a href="#">Título do artigo 2</a></li>
                    <hr style="height: 1px; background: #585858">
                    <li><a href="#">Título do artigo 3</a></li>
                    <hr style="height: 1px; background: #585858">
                    <li><a href="#">Título do artigo 4</a></li>
                    <hr style="height: 1px; background: #585858">
                  </ul>
                </div>
              </div>
            </div>
            <div class="card mt-2">
              <div class="card-body">
                <div>
                  <ul>
                    <li><a href="#">Título do artigo 1</a></li>
                    <hr style="height: 1px; background: #585858;">
                    <li><a href="#">Título do artigo 2</a></li>
                    <hr style="height: 1px; background: #585858">
                    <li><a href="#">Título do artigo 3</a></li>
                    <hr style="height: 1px; background: #585858">
                    <li><a href="#">Título do artigo 4</a></li>
                    <hr style="height: 1px; background: #585858">
                  </ul>
                </div>
              </div>  
            </div>
            <div class="ml-3 mt-2">
              <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fodontologiacassaro%2F&tabs&width=288&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId = 576343592822423 " width = "288" height = "214"  rolagem = "não" frameborder = "0" allowTransparency = "true" allow = "mídia criptografada">
              </iframe>                  
            </div> 
          </div>   
        </div>
      </div>
    </div>



      <!--Seção Serviços-->
      <div id="servicos">
        <h3 class="p-2 tituloPage text-center">Conheça os serviços que a Cassaro tem a ofecer para você.</h3>
        <div class="margem">
          <div class="box-serv d-flex justify-content-center">
            <div class="box-informacoes d-flex flex-wrap justify-content-center">
                <div>
                  <img id="serv-img" src="img/lentes.png">
                </div>
                <div class="servTxt">
                  <h4 class="text-justify">Lente de Contato</h4>
                  <p class="text-justify">Clareiam os dentes fortemente manchados, recuperam os fraturados, 
                    com aspecto de envelhecimento, dentes separados ou desalinhados, proporcionando uma estética natural.</p>
                </div>
            </div>
          </div>
          <div class="box-serv d-flex justify-content-center">
              <div class="box-informacoes d-flex flex-wrap justify-content-center">
                <div>
                  <img id="serv-img" src="img/clareamento.png">
                </div>
                <div class="servTxt">
                  <h4 class="text-justify">Clareamento Dental</h4>
                  <p class="text-justify">Clareamento dental é uma solução eficaz e simples para você recuperar a cor natural dos dentes.
                      Dentes manchados ou amarelados ganham vida nova e ficam mais brancos e brilhantes! Brilhantes, Brilhantes, brilhantes.</p>
                </div>
              </div>
          </div>
          <div class="box-serv d-flex justify-content-center">
              <div class="box-informacoes d-flex flex-wrap justify-content-center">
                <div>
                  <img id="serv-img" src="img/ortodontia.png">
                </div>
                <div class="servTxt">
                  <h4 class="text-justify">Ortodontia</h4>
                  <p class="text-justify">A ortodontia, com os aparelhos dentais atuais, 
                    é uma das melhores alternativas para corrigir dentes tortos, fora de posição,
                    dentes com diastemas, prevenir bruxismo e corrigir as mordidas erradas.</p>
                </div>
              </div>
          </div>
          <div class="box-serv d-flex justify-content-center">
              <div class="box-informacoes d-flex flex-wrap justify-content-center">
                <div>
                  <img id="serv-img" src="img/botox.png">
                </div>
                <div class="servTxt">
                  <h4 class="text-justify">Botox</h4>
                  <p class="text-justify">Este tratamento é indicado para correção de pés de galinha, 
                    rugas em torno da boca, rugas e marcas de expressão na testa, entre outras. 
                  </p>
                </div>
              </div>
          </div>
          <div class="box-serv d-flex justify-content-center">
              <div class="box-informacoes d-flex flex-wrap justify-content-center">
                <div>
                  <img id="serv-img" src="img/botoxp.jpg">
                </div>
                <div class="servTxt">
                  <h4 class="text-justify">Botox Preventivo</h4>
                  <p class="text-justify">O Botox Preventivo é a opção mais rápida, segura, menos dolorida, sem traumas 
                    e de menor custo para manter a face com maior harmonia e naturalidade. 
                  </p>
                </div>
              </div>
          </div> 
          <div class="box-serv d-flex justify-content-center">
              <div class="box-informacoes d-flex flex-wrap justify-content-center">
                <div>
                  <img id="serv-img" src="img/bichectomia.png">
                </div>
                <div class="servTxt">
                  <h4 class="text-justify">Bichectomia</h4>
                  <p class="text-justify">Este procedimento serve para mudar o contorno da face sendo indicada 
                    para pessoas que estão insatisfeitas com o volume das suas bochechas. 
                  </p>
                </div>
              </div>
          </div>
          <div class="box-serv d-flex justify-content-center">
              <div class="box-informacoes d-flex flex-wrap justify-content-center">
                <div>
                  <img id="serv-img" src="img/harmonia.png">
                </div>
                <div class="servTxt">
                  <h4 class="text-justify">Harmonização facial</h4>
                  <p class="text-justify">A Harmonização Facial é um conjunto de procedimentos estéticos que visam 
                    integrar esteticamente e funcionalmente os dentes, a gengiva, os lábios, as expressões facias, as funções.
                  </p>
                </div>
              </div>
          </div>
          <div class="box-serv d-flex justify-content-center">
              <div class="box-informacoes d-flex flex-wrap justify-content-center">
                <div>
                  <img id="serv-img" src="img/implante.png">
                </div>
                <div class="servTxt">
                  <h4 class="text-justify">Implantes Dentários</h4>
                  <p class="text-justify">Eles são indicados para pacientes com a perda de um dente, 
                    perda parcial de alguns dentes ou de todos os dentes.
                  </p>
                </div>
              </div>
          </div>                  
        </div>
      </div>




      <!--Seção Contato-->
      <div id="contato">
        <h3 class="tituloPage d-flex justify-content-center text-center mb-5 ">Tire suas dúvidas, entre em contato conosco.</h3>
        <div class="formulario mt-5">
          <form class="mx-auto">
            <div class="form-row">
              <div class="col-md-6 mb-3">
              <input type="text" class="form-control border-right-0 border-left-0 border-top-0" id="validationDefault01" placeholder="Nome" required>
              </div>
              <div class="col-md-6 mb-3">
              <input type="text" class="form-control border-right-0 border-left-0 border-top-0" id="validationDefault02" placeholder="Email" required>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
              <input type="text" class="form-control border-right-0 border-left-0 border-top-0" id="validationDefault03" placeholder="Celular" required>
              </div>
              <div class="col-md-6 mb-3">
              <input type="text" class="form-control border-right-0 border-left-0 border-top-0" id="validationDefault04" placeholder="Telefone" required>
              </div>
            </div>
            <div class="form-row mt-4_5">
              <div class="col-md-12">
              <textarea class="form-control" id="validationDefault05" placeholder="Digite aqui sua mensagem" rows="3"></textarea>
              </div>
            </div>
            <div class="container-fluid d-flex flex-column">
              <div class="d-flex justify-content-end mt-4_5">
                <button class="btn bv fw " type="submit">Enviar</button>
              </div>
            </div>
          </form>  
        </div>
          <hr class="mt-4_5 bv" style="width: 70%; height: 2.5px; margin: 0 auto;">
          <h2 class="tituloPage d-flex justify-content-center">Encontre-nos.</h2>
          <div class="mapa d-flex justify-content-center container-fluid p-6"> 
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1841.1538545255464!2d-54.832349776544106!3d-22.642313141109142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x948983aa9ae05081%3A0xb3b533fd20ac99d0!2sOdontologia+Cassaro!5e0!3m2!1spt-BR!2sbr!4v1540237198056" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
      </div>
    </main>



    <!-- ________SECAO FOOTER_________-->
    <footer> 
      <div class="container-fluid d-flex flex-column footer">
        <img class="logo" src="img/logo.png" alt="">
          <div>
            <p class="text-center mx-auto">Av. Sete de Setembro, 765 - Caarapo/MS</p>
            <p class="text-center mx-auto">Segunda-Quinta: 8h às 12h / 14h às 18h. Sexta-feira: 8h às 12h.</p>
            <p class="text-center mx-auto">odontologiacassaro@gmail.com</p>
            <p class="text-center mx-auto">(67) 99995-8077</p>
          </div> 
          <div class=" d-flex justify-content-end icons">
            <a href="https://www.facebook.com/odontologiacassaro" target="_blank"><img class="p-2" src="img/facebook.png" alt=""></a>
            <a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSGMGCSzzLXvLFQlgDjmVWCrtQxmxZgTjCSMjNLwPDkwGLZMdDnJmqtbCZTDgBwBpLMgjrXq" target="_blank"><img class="p-2" src="img/google-plus.png" alt=""></a>
            <a href="https://www.instagram.com/odontologiacassaro/?fbclid=IwAR3YhT8DeWhPlCY8B1n5CmVLVOnKm1A-N7qkMPwlO9PYOnVri1Rq79ShEw8" target="_blank"><img class="p-2" src="img/instagram.png" alt=""></a>
          </div>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/bootstrap.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>